<h1>Contact page</h1>
<h3>{{message}}</h3>
<h3>{{user}}</h3>
<ul>
    <li><a href="/about">About</a></li>
    <li><a href="/">Home</a></li>
</ul>
<form method="post" action="send">
    <div class="row">
        <div class="six columns">
            <label for="exampleNameInput">Your name</label>
            <input name="userName" class="u-full-width" type="text" placeholder="Vito Gooner" id="exampleNameInput" />
        </div>
        <div class="six columns">
            <label for="exampleEmailInput">Your email</label>
            <input name="userEmail" class="u-full-width" type="email" placeholder="test@mailbox.com" id="exampleEmailInput" />
        </div>
    </div>
    <label for="exampleMessage">Message</label>
    <textarea name="userMessage" class="u-full-width" placeholder="Hi Vito …" id="exampleMessage"></textarea>

    <input class="button-primary" type="submit" value="Submit" />
</form>